@import "utility";

// * {
//   border: 1px solid red !important;
// }

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
header {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

input {
  padding: 1em;
  border: none;
  background-color: $bg--third--color;
  color: #000;
  text-align: center;
}

input::placeholder {
  color: #000;
  font-weight: bold;
}

// Header

.header__logo {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.header__logo--txt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 64px;
  margin: auto;
  font-family: Shrikhand, sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  input {
    width: 100px;
  }
}

//  First block

.first-block {
  background-color: $bg--primary--color;
  padding: 2em;
  h2 {
    text-align: center;
    width: 100%;
    line-height: 1.3em;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1em;
  }

  p {
    text-align: center;
    margin: auto 1em;
    font-weight: 300;
  }
}

//  Second block

.second-block {
  h2 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0.7em;
    margin-left: 1em;
    margin-top: 2em;
  }
}

.second-block__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em 0;
  background-color: $bg--secondary--color;
  margin-bottom: 3em;

  div {
    display: flex;
    border: none;
    padding: 1.6em;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    width: 80%;
    margin: auto;
    gap: 2em;
    font-weight: 600;
    align-items: center;
    background-color: $bg--primary--color;
    cursor: pointer;
  }

  div:hover i {
    color: $primary--color;
  }

  .btn-scdwrap {
    color: $icon--color;
    font-size: 20px;
    align-self: center;
  }
}

// Third block

.third-block {
  background-color: $bg--primary--color;
  margin: 2em 0;

  .third-block__wrapper h2 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 1.3em;
    margin-left: 1em;
    margin-top: 3em;
    width: 90%;
  }

  .third-block__cards--wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    margin: 1em;
  }

  .third-block__cards {
    background-color: $bg--primary--color;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    position: relative;

    img {
      height: 200px;
      width: 100%;
      border-radius: 20px 20px 0 0;
    }

    .third-block__text {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      margin-top: 1em;
      margin-left: 1em;

      h3 {
        font-weight: 600;
        line-height: 1.2em;
      }
      p {
        font-weight: 3001;
      }
    }
  }

  .heart-container.one {
    cursor: pointer;
    position: relative;
    width: 22px;
    height: 21px;
    left: 85%;
    bottom: 40px;
    border-radius: 0;
  }

  .heart-container.two {
    cursor: pointer;
    position: relative;
    width: 22px;
    height: 21px;
    left: 85%;
    bottom: 40px;
    border-radius: 0;
  }

  .heart-container.three {
    cursor: pointer;
    position: relative;
    width: 22px;
    height: 21px;
    left: 85%;
    bottom: 40px;
    border-radius: 0;
  }

  .heart-container.four {
    cursor: pointer;
    position: relative;
    width: 22px;
    height: 21px;
    left: 85%;
    bottom: 40px;
    border-radius: 0;
  }
}

.heart-container {
  .one.filled-heart {
    position: absolute;
    right: 20px;
    bottom: 43px;
    display: none;
    z-index: 3;
  }
  .one.empty-heart:hover + .filled-heart {
    display: inline;
  }

  .two.filled-heart {
    position: absolute;
    right: 20px;
    bottom: 43px;
    display: none;
    z-index: 2;
  }
  .two.empty-heart:hover + .filled-heart {
    display: inline;
  }

  .three.filled-heart {
    position: absolute;
    right: 20px;
    bottom: 43px;
    display: none;
    z-index: 2;
  }
  .three.empty-heart:hover + .filled-heart {
    display: inline;
  }

  .four.filled-heart {
    position: absolute;
    right: 20px;
    bottom: 43px;
    display: none;
    z-index: 2;
  }
  .four.empty-heart:hover + .filled-heart {
    display: inline;
  }
}

@media (min-width: 768px) {
  .first-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .second-block {
    h2 {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 0.7em;
      margin-left: 1em;
    }
  }

  .second-block__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    margin: 2em 0;
    padding: 1em;
    background-color: $bg--secondary--color;
    margin-bottom: 3em;

    button {
      display: flex;
      border: none;
      padding: 1.6em;
      border-radius: 20px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
      width: 92%;
      margin: auto;
      gap: 2em;
      font-weight: 600;
      align-items: center;
      height: 70px;
      cursor: pointer;
    }

    button:hover i {
      color: $primary--color;
    }

    .btn-scdwrap {
      color: $icon--color;
      font-size: 20px;
      align-self: center;
    }
  }

  .third-block__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em 0;
    padding: 1em;
    background-color: $bg--secondary--color;
    margin-bottom: 3em;
    flex-wrap: wrap;

    h2 {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 0.7em;
      margin-left: 1em;
    }

    button {
      display: flex;
      border: none;
      padding: 1.6em;
      border-radius: 20px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
      width: 92%;
      margin: auto;
      gap: 2em;
      font-weight: 600;
      align-items: center;
      height: 70px;
      cursor: pointer;
    }

    button:hover i {
      color: $primary--color;
    }

    .third-block__cards--wrapper {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }

    .btn-scdwrap {
      color: $icon--color;
      font-size: 20px;
      align-self: center;
    }
  }

  .third-block__cards {
    width: 100%;
  }
}
