@import "utility";

// * {
//   border: 1px red solid;
// }

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
header {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

input {
  padding: 1em;
  border: none;
  background-color: $bg--third--color;
  color: #000;
  text-align: center;
}

input::placeholder {
  color: #000;
  font-weight: bold;
}

// Header

// Mixin pour le logo ? Il se retrouve en top de toute les pages.
.header__logo {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.header__logo--img {
  display: flex;
  width: 200px;
  height: 100%;
  margin: 1em auto;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  i {
    position: sticky;
  }
}

//  First block

.first-block {
  background-color: $bg--primary--color;
  padding: 2em;
  h1 {
    text-align: center;
    width: 100%;
  }

  p {
    text-align: center;
    margin: auto 1em;
    font-weight: 300;
  }
}

//  Second block

.second-block__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em 0;
  padding: 1em;
  background-color: $bg--secondary--color;
  margin-bottom: 3em;

  button {
    display: flex;
    border: none;
    padding: 1.6em;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    width: 92%;
    margin: auto;
    gap: 2em;
    font-weight: 600;
  }

  .btn-scdwrap {
    color: $icon--color;
    font-size: 20px;
    align-self: center;
  }
}

// Third block

.third-block {
  background-color: $bg--primary--color;
  margin: 2em 0;
  padding: 1em;
  margin-bottom: 3em;

  .third-block__cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
  }

  .third-block__card {
    background-color: $bg--primary--color;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    position: relative;

    img {
      height: 200px;
      width: 100%;
      border-radius: 20px 20px 0 0;
    }
    .third-block__text {
      margin-left: 1em;
      line-height: 0.2em;
      p {
        font-weight: 300;
      }
    }
  }

  .third-block__heart.one {
    position: relative;
    width: 22px;
    height: 21px;
    left: 90%;
    bottom: 50px;
    border-radius: 0;
  }

  .third-block__heart.two {
    position: relative;
    width: 22px;
    height: 21px;
    left: 90%;
    bottom: 50px;
    border-radius: 0;
  }

  .third-block__heart.three {
    position: relative;
    width: 22px;
    height: 21px;
    left: 90%;
    bottom: 50px;
    border-radius: 0;
  }

  .third-block__heart.four {
    position: relative;
    width: 22px;
    height: 21px;
    left: 90%;
    bottom: 50px;
    border-radius: 0;
  }
}
