@import "utility";

// * {
//   border: 1px solid red !important;
// }

main {
  margin-bottom: -29px;
  font-family: "Roboto", sans-serif;
}

// Header

.header-logo {
  display: flex;
  align-items: center;
  margin-left: 1.5em;
}

.image-block {
  object-fit: cover;
  z-index: 0;
  position: relative;

  img {
    max-height: 383px;
  }
}

// Main

.main-block {
  background-color: $bg--third--color;
  border-radius: 30px 30px 0 0;
  padding: 1em;
  position: relative;
  z-index: 2;
  height: 100%;
  bottom: 30px;
  overflow-x: hidden;

  h3 {
    position: relative;
    display: inline-block;
    font-weight: 300;
    text-transform: uppercase; // Plus simple que de le faire en majuscule dans le HTML
  }

  h2:nth-of-type(1)::after {
    width: 60%; // Ajuste la longueur de la barre sous le second h2 "PLATS"
  }

  h2:nth-of-type(2)::after {
    width: 85%; // Ajuste la longueur de la barre sous le second h2 "PLATS"
  }
}
.first-block__wrapper {
  display: flex;
  position: relative;
  margin: 1em auto;
  width: 77%;

  .header-restaurant {
    font-family: Shrikhand, sans-serif;
    font-size: 28px;
  }

  .heart-container {
    cursor: pointer;
    position: absolute;
    width: 22px;
    height: 21px;
    left: 85%;
    top: 3.4%;
    border-radius: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    .heart-container__heart {
      position: relative;
      width: 22px;
      height: 21px;
      border-radius: 0;
      opacity: 1;
      transition: opacity 0.5s;
    }

    .heart-container__heart--filled {
      position: absolute;
      width: 22px;
      height: 21px;
      left: 0%;
      border-radius: 0;
      opacity: 0;
      transition: opacity 0.5s;
    }
  }
}
// Bloc plats

.second-block__container {
  section {
    .green-bar {
      background-color: $secondary--color;
      height: 4px;
      width: 40px;
      margin-top: 8px;
    }

    .starters-block,
    .dishes-block,
    .desserts-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1em auto;
      width: 100%;
      gap: 1em;

      article {
        .menu-block__button {
          display: flex;
          flex-direction: column;
          background-color: $bg--primary--color;
          color: #000;
          border: none;
          padding: 0.5em 1em;
          border-radius: 15px;
          font-size: 1em;
          cursor: pointer;
          box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.05);
          position: relative;
          overflow: hidden;
          h4 {
            margin-top: 0.5em;
            width: 76%;
          }

          h4,
          p {
            margin-bottom: 1em;
          }

          .menu-block__button--txt {
            display: flex;
            align-items: center;
            justify-content: space-between;
            line-height: 1;
            margin-top: 0;
            font-size: 0.9em;
            font-weight: 300;

            .description {
              span {
                display: block;
                width: 100%;
                transition: width 0.3s ease-out; // Permet de garder la fluidité "in-and-out" de l'élement au survol
              }
            }
            .price {
              font-weight: bold;
              display: inline;
              position: relative;
              transition: all 0.3s ease-out; // Permet de garder la fluidité "in-and-out" de l'élement au survol
            }
          }

          // Effet au survol des plats

          .background {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $secondary--color;
            height: 100%;
            width: 60px;
            position: absolute;
            right: -1em;
            bottom: 0;
            border-radius: 0 15px 15px 0;
            transform: translateX(100%);
            transition: transform 0.3s ease-out;

            .mark {
              color: #fff;
              font-size: 1.2em;
            }
          }

          // :hover

          &:hover {
            h4 {
              width: 13.3em;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }

            .background {
              transform: translateX(0);
              margin-right: 1em;
            }
            .description span {
              width: 14em; // Réduis la largeur lors du survol, ne s'applique seulement aux éléments contenu dans la div .description
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
            .price {
              transform: translateX(
                -4em
              ); //Déplace le prix sur la gauche de la carte
              transition: all 0.3s ease-out;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .main-block {
    margin: auto 3em;
  }

  .second-block__container {
    margin: auto 3em;

    section {
      .starters-block,
      .dishes-block,
      .desserts-block {
        article {
          .menu-block__button {
            &:hover {
              h4 {
                width: 20em;
              }
              .description span {
                width: 20em;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .main-block {
    margin: auto 12em;
  }

  .second-block__container {
    margin: auto 8em;

    section {
      .starters-block,
      .dishes-block,
      .desserts-block {
        article {
          .menu-block__button {
            &:hover {
              h4 {
                width: 20em;
              }
              .description span {
                width: 20em;
              }
            }
          }
        }
      }
    }
  }
}
