@import "utility";

// * {
//   border: 1px solid red;
// }

main {
  margin-bottom: -29px;
  font-family: "Roboto", sans-serif;
}

// Header

.header-logo {
  display: flex;
  align-items: center;
  margin-left: 1.5em;
}

.image-block {
  object-fit: cover;
  z-index: 0;
  position: relative;
}

// Main

.main-block {
  background-color: $bg--third--color;
  border-radius: 30px 30px 0 0;
  padding: 1em;
  position: relative;
  z-index: 2;
  height: 100%;
  bottom: 30px;
  overflow-x: hidden;

  h3 {
    position: relative;
    display: inline-block;
    font-weight: 300;
    text-transform: uppercase; // Plus simple que de le faire en majuscule dans le HTML
  }

  h2:nth-of-type(1)::after {
    width: 60%; // Ajuste la longueur de la barre sous le second h2 "PLATS"
  }

  h2:nth-of-type(2)::after {
    width: 85%; // Ajuste la longueur de la barre sous le second h2 "PLATS"
  }
}

.header-restaurant {
  font-family: Shrikhand, sans-serif;
  font-size: 28px;
  margin-bottom: 1.3em;
  margin-top: 0.7em;
  margin-left: 0.15em;
}

.heart-container {
  cursor: pointer;
  position: absolute;
  width: 22px;
  height: 21px;
  left: 85%;
  top: 3.4%;
  border-radius: 0;

  .heart-container__heart {
    position: relative;
    width: 22px;
    height: 21px;
    border-radius: 0;
    opacity: 1;
  }

  .heart-container__heart--filled {
    position: absolute;
    width: 22px;
    height: 21px;
    left: 0%;
    border-radius: 0;
    opacity: 0;
  }
}

.green-bar {
  background-color: $secondary--color;
  height: 4px;
  width: 40px;
  margin-top: 8px;
}

// Bloc plats

.starters-block,
.dishes-block,
.desserts-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em auto;
  width: 100%;
  gap: 1em;
}

.menu-block__button {
  display: flex;
  flex-direction: column;
  background-color: $bg--primary--color;
  color: #000;
  border: none;
  padding: 0.5em 1em;
  border-radius: 15px;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.05);

  h4 {
    margin-top: 0.5em;
    width: 76%;
  }

  h4,
  p {
    margin-bottom: 1em;
  }

  .menu-block__button--txt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 0;
    margin-top: 0;
    font-size: 0.9em;
    font-weight: 300;

    span {
      font-weight: bold;
      display: inline;
    }
  }

  // .menu-block__button--check .mark {
  //   color: $bg--secondary--color;
  //   position: absolute;
  //   right: 10%;
  // }

  // .background {
  //   display: flex;
  //   background-color: $secondary--color;
  //   height: 200px;
  //   width: 20px;
  //   position: relative;
  //   right: -80%;
  // }
}
